<div style="margin-top:36px" class="mb-3">
  <input type="text" [(ngModel)]="filterColorText" class="form-control" id="filterColorText" 
  placeholder="Renk giriniz">
</div>
<select [(ngModel)]="currentColor" class="form-select" (change)="setQueryParams(currentColor)" aria-label="Default select example">
  <option [selected]="isAllColorSelected()" [ngValue]=undefined>Tüm renkler</option>
  <option [selected]="isCurrentColor(color)" *ngFor="let color of colors | filterColorPipe:filterColorText; index as i" [ngValue]="color">{{color.colorName}}</option>
</select>