<footer class="py-5 text-white text-center">
    <div class="container">
        <small>
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/melihcan-serbest-7258a3172/?originalSubdomain=tr" target="_blank">Melihcan Serbest</a>
            </small>
    </div>
</footer>
